Repository alesgenova/post-me: changes, and which Codecov flags are due for each by the changed paths.
All: core, mpi

Add a README for @post-me/mpi
  README.md
  packages/core/package.json
  packages/mpi/README.md
  packages/mpi/benchmark.png
  packages/mpi/diagram.png
  packages/mpi/package-lock.json
  packages/mpi/package.json
Due: core, mpi

Disable the publish action
  .github/workflows/publish.yaml
Due: none

Remove es5 from the filename of the bundles
  packages/core/demo/build.js
  packages/core/package.json
  packages/core/rollup.config.js
  packages/mpi/package-lock.json
  packages/mpi/package.json
  packages/mpi/rollup.config.js
Due: core, mpi

chore(release): publish
  packages/core/CHANGELOG.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/mpi/CHANGELOG.md
  packages/mpi/package-lock.json
  packages/mpi/package.json
Due: core, mpi

Remove uglify build step
  README.md
  packages/core/package-lock.json
  packages/core/package.json
  packages/mpi/package-lock.json
  packages/mpi/package.json
Due: core, mpi

Make WorkerMessenger take a Postable
  packages/core/src/messenger.ts
Due: core

Call methods in the context of the object on which they are defined.
  packages/core/src/handles.ts
  packages/core/tests/index.spec.ts
Due: core

Path conditions:
  core: any of: packages/core/
  mpi: any of: packages/mpi/
